/* Mobile Devices (portrait and landscape) up to 767px */
@media only screen and (max-width: 567px) {
  .navList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .NavLink {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.3rem;
  }

  .NavLinkIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .NavLinkText {
    display: block;
  }

  .closeMenu {
    font-size: 2rem;
  }
}
/* Tablets and Min Laptops 768px */
@media only screen and (min-width: 568px) {
  .navList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .NavLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .NavLinkIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .NavLinkText {
    display: none;
  }
}
/* Desktops and larger screens 1340px*/
@media only screen and (min-width: 840px) {
  .navList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .NavLink {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.3rem;
  }

  .NavLinkIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .NavLinkText {
    display: block;
  }
}
